body {
    min-width: 290px;
    color: rgb(77, 71, 71);
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
}

.nav-header {
    color: black;
    text-align: center;
    margin: 10px;
    font-size: 1.8em;
}

#navbar ul {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: darkolivegreen;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    text-decoration: none;

}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    color: darkslategrey;
    padding: 10px 30px;
    display: block;
}

#main-doc {
    position: absolute;
    margin-left: 350px;
    padding: 20px;
    margin-bottom: 110px;
}

.heading {
    text-align: left;
    margin: 0px;
    color: black;
    font-size: 1.8em;
}

.paragraph {
    margin: 15px;
    font-size: 1em;
    text-align: justify;
}

.portion {
    margin: 15px 0px 0px 30px;
    text-align: justify;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: darkgray;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}